extends layout


block data-table
    div
        table(class="info-table")
            tr
                td("name")
                td("value")
            tbody(data-bind="foreach:fields")
                tr(data-bind="css: { alternate: $index() % 2 }")
                    td(data-bind="text: name")
                    td(data-bind="text: value")

block product-info
    div(class="product-info hidden")
        img(id="product-image", class="float")
        div(class="float")
        div
            span(class="item-label") Source ID:
            span(id="source-id", class="item")
        div
            span(class="item-label") External ProductID:
            span(id="external-product-id", class="item")
        div
            span(class="item-label") Product Name:
            span(id="product-name", class="item")


block content
    div(id="content",class="ui-content")
        span Product Id:
        input(class="product-id",value="4")
        button(class="fetch-button") Fetch
        block product-info
        div(class="breaker")

        div(id="tabs", class="ui-tabs")
            ul
                li("db")
                    a(href="#fragment-1") DB
                li
                    a(href="#fragment-2") Elastic
                li
                    a(href="#fragment-3") Greenbox

            div(id="fragment-1")
                block data-table
            div(id="fragment-2")
                block data-table
            div(id="fragment-3")
                block data-table
