extends layout

block content
    div(id="content")
        span Product Id:
        input(class="product-id",value="4")
        button(class="fetch-button") Fetch
        table(class="info-table")
            tr
                td("name")
                td("value")
            tbody(data-bind="foreach:fields")
                tr(data-bind="css: { alternate: $index() % 2 }")
                    td(data-bind="text: name")
                    td(data-bind="text: value")



