@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  .alternate {background-color: #F8F8F8 ;}
  #product-image {width: 250px; height: 250px; }
  .product-info { color: #990000; font-size: large; margin-top: 30px;
    .item {margin: 15px 0px 5px 5px; display: inline-block;}
    .item-label {color: black;}
   }

  #tabs { margin-top: 25px;}
  pre {max-width: 1500px;}

  /* common stuff*/
  .float {float: left;}
  .breaker {clear: both; }
  .hidden {display: none;}


}

a {
  color: #00B7FF;
}